<%= form_with(model: cuidador, local: true) do |form| %>
  <% if cuidador.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cuidador.errors.count, "error") %> prohibited this cuidador from being saved:</h2>

      <ul>
        <% cuidador.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cpf %>
    <%= form.text_field :cpf %>
  </div>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :rg %>
    <%= form.text_field :rg %>
  </div>

  <div class="field">
    <%= form.label :sexo %>
    <%= form.text_field :sexo %>
  </div>

  <div class="field">
    <%= form.label :telefone %>
    <%= form.text_field :telefone %>
  </div>

  <div class="field">
    <%= form.label :datanasc %>
    <%= form.date_select :datanasc %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
