<!<!DOCTYPE html>
<html>
<head>
<title>Centro Zoonoses</title>
<%= stylesheet_link_tag "cuidadors.css" %>
</head>
<body>

<div class="imagem"> 
    <h3>Centro Zoonoses</h3>
    <%= image_tag("logo.png", :alt => "class") %>
</div>


<p id="notice"><%= notice %></p>

<div class="infos-view">

<p>
  <strong>Cpf:</strong>
  <%= @cuidador.cpf %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @cuidador.nome %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @cuidador.rg %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @cuidador.sexo %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @cuidador.telefone %>
</p>

<p>
  <strong>Data:</strong>
  <%= @cuidador.data %>
</p>
</div>

<hr class="view-hr" />

<div class="actions-cuidador">
<%= link_to 'Edit', edit_cuidador_path(@cuidador) %> |
<%= link_to 'Back', cuidadors_path %>
</div>




 </div>

</body>
</html>



