<!DOCTYPE html>
<html>
<head>
<title>Centro Zoonoses</title>
<%= stylesheet_link_tag "funcionarios.css" %>
</head>
<body>

<div class="imagem">
<%= link_to 'Back', root_path, class:"btn btn-primary" %>
</div>

<div class="imagem"> 
    <h3>Centro Zoonoses</h3>
    <%= image_tag("logo.png", :alt => "class") %>
</div>

<div class="login"> 
    <h3>Cadastro</h3>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "funcionarios/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome, autofocus: true %>
  </div>

   <div class="field">
    <%= f.label :cpf %><br />
    <%= f.text_field :cpf, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :rg %><br />
    <%= f.text_field :rg, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :sexo %><br />
    <%= f.text_field :sexo, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :telefone %><br />
    <%= f.phone_field :telefone, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class:"input-signup" %>
  </div>
<% end %>

<div class="log-in"> 
<%= render "funcionarios/shared/links" %>
</div>

</body>
</html>
