<p id="notice"><%= notice %></p>

<p>
  <strong>Cpf:</strong>
  <%= @funcionario.cpf %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @funcionario.nome %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @funcionario.rg %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @funcionario.sexo %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @funcionario.telefone %>
</p>

<p>
  <strong>Data:</strong>
  <%= @funcionario.data %>
</p>

<%= link_to 'Edit', edit_funcionario_path(@funcionario) %> |
<%= link_to 'Back', funcionarios_path %>
