<!<!DOCTYPE html>
<html>
<head>
<title>Centro Zoonoses</title>
<%= stylesheet_link_tag "cuidadors.css" %>
</head>
<body>

<div class="imagem"> 
    <h3>Centro Zoonoses</h3>
    <%= image_tag("logo.png", :alt => "class") %>
</div>


<p id="notice"><%= notice %></p>

<div class="infos-view">

<p>
  <strong>CPF:</strong>
  <%= @funcionario.cpf %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @funcionario.nome %>
</p>

<p>
  <strong>RG:</strong>
  <%= @funcionario.rg %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @funcionario.sexo %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @funcionario.telefone %>
</p>

<p>
  <strong>Data:</strong>
  <%= @funcionario.data %>
</p>

</div>

<hr class="view-hr" />

<div class="actions-func">
<%= link_to 'Edit', edit_funcionario_path(@funcionario) %> |
<%= link_to 'Back', funcionarios_path %>
</div>




 </div>

</body>
</html>




